/* # Universal */

body {
    width: 100%;
    margin: 0;
    background-color: #a19a90;
    color: #294b4a;
}

#reset-btn,
#start-btn {
    background-color: peru;
    color: #294b4a;
    font-weight: strong;
    border-radius: 5px;
    background-image: none;
}

h1, h2 {
    justify-content: center;
    background-color: inherit;
    color: inherit;
    text-align: center;
}

/* # Header */
header {
    display: flex;
    margin: 0;
    padding: 25px;
    background-color: #294b4a;
    color: #a19a90;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.btn-container {
    justify-self: start;
}

#reset-btn {
    font-size: 16px;
    padding: 10px 15px;
}

#timer {
    font-size: 16px;
}

/* # Body */
section {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    padding: 0 25px;
    align-items: center;
}

h2 {
    margin-top: 50px;
}

.start-btn-container {
    margin-top: 100px;
}

#start-btn {
    font-size: 300%;
    padding: 15px 30px;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;

    }
}